// license:{{ LICENSE }}
// copyright-holders:

#ifndef MAME_BUS_PCI_{{ DEVICE }}_H
#define MAME_BUS_PCI_{{ DEVICE }}_H

#pragma once

#include "pci_slot.h"

class {{ KLASS }}_device : public pci_card_device
{
public:
	{{ KLASS }}_device(const machine_config &mconfig, const char *tag, device_t *owner, uint32_t clock);

	static constexpr feature_type unemulated_features() { return feature::{{ MAIN }}; }

protected:
	{{ KLASS }}_device(const machine_config &mconfig, device_type type, const char *tag, device_t *owner, uint32_t clock);

	virtual void device_start() override ATTR_COLD;
	virtual void device_reset() override ATTR_COLD;
	virtual void device_add_mconfig(machine_config &config) override ATTR_COLD;

	virtual void config_map(address_map &map) override ATTR_COLD;
{% if CAPPTR != "0" %}	virtual u8 capptr_r() override;{% endif %}
private:
	// ...
};

DECLARE_DEVICE_TYPE({{ DEVICE }}, {{ KLASS }}_device)

#endif // MAME_BUS_PCI_{{ DEVICE }}_H

